* {
    margin: 0;
    padding: 0;
   
}
:root{
    height: 100%;
    width: 100%;
}

html{
    width: 100%;
    height: 100%;
}




.navbar{
    display: flex;
    border: 8px solid black;
    justify-content: space-between;
    align-items: flex-start;
    
    
    
    

}

.navleft{
    padding: 20px;
    


}

.navright{
    
    
    
}

.material-icons{
  
}





a{
    text-decoration: none;
    color: black;
}

.profilepic{

   
    
    
    
    
}

.googleimg{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 300px;
}







